@font-face {
	font-family: "Exo_2";
	src:
		url("/assets/font/Exo_2/Exo2-VariableFont_wght.ttf") format("truetype"),
}

@font-face {
	font-family: "Inter";
	src:
		url("/assets/font/Inter/InterVariable.ttf") format("truetype"),
}

:root {
	font-size: max(min(24px, 8vw), 2vw);
	font-family: Inter;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: Inter, system-ui;
	margin: 0 auto;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	min-width: 100vw;
	/*overflow: hidden;*/
	text-overflow: clip;
	/*flex-direction: column;*/
	font-size: 16px;
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.375rem; }
p { font-size: 1rem; }

h1, h2, h3, p {
	padding: .25rem 0;
	margin: 0;
}

hr {
	width: 100%;
	margin: 1rem 0;
	border: .04rem solid var(--gray);
}

a {
	color: var(--purple);
}

.lnk {
	color: var(--ltrans);
	font-weight: 600;
	text-decoration: none;
}

.lnk:hover {
	text-decoration: underline;
}

.is {
	min-width: 24rem;
	width: 80%;
	max-width: 32rem;
}

input {
	font-family: inherit;
	background-color: var(--bg);
	border: #888 2px solid;
	border-radius: 4px;
}

dialog {
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	max-height: 80%;
	min-width: 16rem;
	max-width: min(32rem, calc(100vw - 4rem));
	background-color: var(--bg);
	box-shadow: -1rem -0.25rem 2rem #8bf6, 1rem 0.25rem 2rem #caf6;
	color: var(--fg);
	border: none;
	border-radius: 16px;
	text-wrap: wrap;
	text-align: center;
}

dialog::backdrop {
	backdrop-filter: contrast(0.8) brightness(var(--bg-brightness)) blur(16px);
}

dialog svg:first-of-type {
	width: 2rem;
	position: fixed;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

dialog svg:first-of-type path {
	stroke: var(--fg);
	fill: none;
}

#dcontent {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.page {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	flex-wrap: wrap;
}

.pd {
	display: flex;
	min-width: min(20rem, 100vw - 2rem);
	max-width: calc(100vw - 2rem);
	flex: 1 1;
	color: var(--fg);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.pd:is(:first-child) {
	background-color: var(--bg);
	align-items: baseline;
}

.pd:is(:last-child) {
	background-color: var(--bg-m);
}

#pre p {
	color: var(--lighter-gray)
}

#opt {
	flex-grow: 0;
	height: min-content;
	gap: 0 .5rem;
}

.flex {
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	flex-grow: 1;
}

.flex button {
	flex: 1 1;
	text-wrap: nowrap;
}

button {
	cursor: pointer;
	border: none;
	font-family: inherit;
	background: var(--darksky);
	color: var(--fg);
	font-size: 1rem;
	border-radius: 0.375rem;
	padding: 0.25rem 0.5rem;
	font-weight: 500;
	transition-duration: 100ms;
	outline: none;
	margin: .25rem 0;
}

button:focus {
	background: var(--bg-m);
}

button:hover {
	background: var(--bg);
}

button:hover, button:focus {
	box-shadow: -0.25rem -0.0625rem 0.75rem #8bfc, 0.25rem 0.0625rem 0.75rem #cafc;
}

button:active {
	box-shadow: 0 0 0.75rem var(--ltrans);
	scale: 0.985;
}

input[type=range] {
	padding: -5rem;
	min-width: 12rem;
	background-color: var(--dark);
	height: 1.5rem;
	outline: none;
	border: #666 0.25rem inset;
	border-radius: 0.5rem;
	margin: 0.5rem;
	flex-grow: 1;
}

input[type=range]::-moz-range-thumb {
	border: 0.125rem outset var(--gray);
	height: 1rem;
	width: 1rem;
	transform: scale(2);
	border-radius: 0.25rem;
	background: #333;
	cursor: pointer;
}

input[type=range]:active::-moz-range-thumb {
	border: 0.125rem inset #888;
	background-color: #444;
}

.ril {
	height: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	width: 17.5rem;
	position: relative;
	top: -2.5rem;
	user-select: none;
}

.ril div {
	text-align: center;
	height: 0;
}

.gradient-text {
	background: linear-gradient(9rad, var(--c1), var(--c2));
	background-clip: text;
	color: transparent;
}

#tt {
	text-wrap: nowrap;
	text-rendering: geometricPrecision;
	--w: 0.96vw;
	font-size: var(--w);
	margin: 1rem;
	width: 100em;
	height: 50em;
	outline: var(--fg) 0.1em solid;
	display: grid;
	position: relative;
	padding: 0 0.7em 0.7em 0;
	grid-template-rows: 2em repeat(5, 1fr);
	grid-template-columns: 3em repeat(10, 1fr);
	row-gap: 1em;
}

#tt:empty {
	display: none;
}

#tt .num {
	display: block;
	grid-row: 1;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	position: relative;
	top: calc(-0.04 * var(--w));
}

#tt .num:is(.s) {
	font-size: 2.2em;
}

#tt .wkd {
	padding-top: 125%;
	font-size: 3.5em;
	line-height: 0;
	grid-column: 1;
	text-align: center;
}

#tt .item {
	text-align: center;
	position: relative;
	display: block;
	outline-offset: -0.06em;
}

#tt .item label {
	position: absolute;
	translate: -50% -50%;
	left: 50%;
	top: 22%;
	font-weight: 600;
	font-size: 3em;
}

#tt .item time {
	position: absolute;
	top: 58%;
	font-size: 1.55em;
	left: 50%;
	font-weight: 450;
	translate: -50% -50%;
}

#tt .item .bottom {
	margin: 0;
	position: absolute;
	bottom: 6%;
	font-size: 1.5em;
	translate: -50% -50%;
	white-space: pre;
	font-weight: 350;
	line-height: 0;
}

#tt .bottom:is(.left) { left: 25%; }
#tt .bottom:is(.center) { left: 50%; }
#tt .bottom:is(.right) { left: 75%; }
	
#tt .item:is(.lesson) {
	outline: var(--lighter-gray) calc(0.12 * var(--w)) solid;
}

#tt .item:is(.break) {
	color: var(--light-fg);
	border: var(--gray) calc(0.12 * var(--w)) dashed;
}

#tt .item:not(.last) {
	border-right: none;
}

#tt .item:not(.first) {
	border-left: none;
}

#tt .item:is(.first) {
	border-radius: calc(0.5 * var(--w)) 0 0 calc(0.5 * var(--w));
}

#tt .item:is(.last) {
	border-radius: 0 calc(0.5 * var(--w)) calc(0.5 * var(--w)) 0;
}